body{
	font-family: Arial;
}

#header{
	display: block;
	border-bottom: 5px solid #4286f5;
	background: #ffffff;
	padding: 0px 20px 5px;
}

#logo{
	height: 75px;
}

#main{
	display: flex;
	clear: left right;
}

#nav{
	display: flex;
	flex-direction: column;
	float: left;
	clear: left right;
	background: #4286f5;
	border: 5px solid #4286f5;
	border-top: none;
	margin-right: 4px;
	line-height: 1.8;
}
.nav-item {
	color: #073c92;
	background: #e7f0fe;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.nav-item:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}
.nav-item:hover {
	cursor: pointer;
	box-shadow: -2px -2px 2px inset, 1px 1px 1px inset;
}

#video_list{
	flex: 1 /*fill the rest of the page width*/;
	clear: right;
	padding: 10px;
}

h2{
	line-height: 0.5;
}

#upload-form{
	line-height: 1.5;
	padding: 0px 10px 20px;
}

#upload-button {
	font-size: 13pt;
	border: 4px outset #4286f5;
	border-radius: 5px;
	background: #e7f0fe;
	box-shadow: 2px 2px 6px #cccccc;
}
#upload-button:hover{
	background: #cfe0fc;
	cursor: pointer;
}
#upload-button:active{
	background: #cfe0fc;
	border: 4px inset #4286f5;
	cursor: pointer;
}

#footer{
	position: fixed;
	bottom: 5px;
	padding: 5px;
	font-style: italic;
}