$main-blue: #4286f5;
$text-med-dark: #073c92;
$text-navy: #06327a;
$button-dark: #cfe0fc;
$button-light: #e7f0fe;

body {
	color: $text-navy;
	font-family: Arial;
}

#header {
	display: block;
	height: 80px;
	border-bottom: 5px solid $main-blue;
	background: #ffffff;
	padding: 0px 20px 5px;
	align-items: center;
}
#logo {
	height: 75px;
}

#main {
	display: flex;
	clear: left right;
}

#nav-menu {
	height: 85px;
	display: flex;
	float: right;
	background: $main-blue;
	padding-left: 5px;
	padding-top: 5px;
}
.nav-item {
	display: flex;
	float: right;
	width: 100px;
	height: 58px;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	color: $text-med-dark;
	background: $button-light;
	padding: 10px 15px;
	margin-right: 5px;

	&:hover {
		cursor: pointer;
		box-shadow: -2px -2px 2px inset, 1px 1px 1px inset;
	}
}
.nav-link {
	margin: auto;
}

#video_list {
	flex: 1 /*fill the rest of the page width*/;
	clear: right;
	padding: 12px 24px;
	
	div {
		display: flex;
	}

	a {
	  display: flex;
	  align-items: center;
	  width: 60%;
		color: $text-med-dark;
		background: #eeeeee;
		text-decoration: none;
		font-size: 14pt;
		font-weight: bold;
		padding: 5px 15px;
		border: 1px solid gray;
		margin-bottom: 5px;

		&:hover {
			background: #dddddd;
		}
	}
}
.video-link-title {
  margin-left: 8px;
}

h2 {
	font-family: Arial Black;
	line-height: 0.5;
}

#upload-form {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.4px;
	line-height: 1.8;
	padding: 15px 45px;
	
	label {
		padding-left: 15px;
	}
}

#upload-button {
	font-weight: bold;
	font-size: 13pt;
	letter-spacing: 0.5px;
	border: 4px outset $main-blue;
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 20px;
	background: $button-light;
	box-shadow: 2px 2px 6px #cccccc;
	
	&:hover {
		background: $button-dark;
		cursor: pointer;
	}

	&:active {
		background: $button-dark;
		border: 4px inset $main-blue;
		cursor: pointer;
	}
}

#content {
	text-align: left;
	padding-left: 15px;
	padding-bottom: 20px;
}

#title {
	font-family: Arial Black;
	font-weight: bold;
	font-size: 16pt;
	padding: 10px 0px;
}
#title, #description {
	padding-left: 10px;
}

#video_player video {
	width: 100%;
}

#footer {
	position: fixed;
	bottom: 5px;
	padding: 5px;
	font-style: italic;
}
