body{
	font-family: Arial;
}

#header{
	display: block;
	border: 1px solid #4286f5;
	background: #4286f5;
	padding: 0px 20px;
	color: white;
	font-family: "Arial Black";
	text-shadow: 1px 1px black;
}

#main{
	display: flex;
	clear: left right;
}

#nav{
	background: #e7f0fe;
	border: 1px solid #4286f5;
	border-right: 5px solid #4286f5;
	width: 100px;
	padding: 5px 10px;
	margin-right: 4px;
	text-align: right;
	line-height: 1.4;
	font-size: 14pt;
}

#content{
	padding-bottom: 20px;
}

#title{
	font-weight: bold;
	font-size: 14pt;
	padding: 10px 0px;
}

#footer{
	position: fixed;
	bottom: 5px;
	padding: 5px;
	font-style: italic;
}